@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf') format('ttf'),
  url('../font/Poppins-Regular.otf') format('otf'),
  url('../font/Poppins-Regular.woff') format('woff'),
  url('../font/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-SemiBold.ttf') format('ttf'),
  url('../font/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-SemiBold.woff2') format('woff2'),
  url('../font/Poppins-SemiBold.woff') format('woff'),
  url('../font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.ttf') format('ttf'),
  url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-Bold.woff2') format('woff2'),
  url('../font/Poppins-Bold.woff') format('woff'),
  url('../font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-ExtraBold.ttf') format('ttf'),
  url('../font/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/Poppins-ExtraBold.woff2') format('woff2'),
  url('../font/Poppins-ExtraBold.woff') format('woff'),
  url('../font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Regular.ttf') format('ttf'),
  url('../font/Gilroy-Regular.eot') format('eot'),
  url('../font/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
