@media only screen and (max-width: 1300px) {

  .container { width: 88% }

  .services-section .services-section__section .section__image-wrapper .image__front {
    left: 125px;
    width: 50%;
  }
}

@media only screen and (max-width: 1100px) {
  .services-section .services-section__section {
    .section__image-wrapper {
      .image__trajectory-line { width: 550px }
      .image__trajectory-point { left: 495px }
    }

    &.second { margin-top: 100px }
    &.third  { margin-top: 100px }
  }

  .team-section { margin-top: 100px }
}

@media only screen and (max-width: 1040px) {

  .button { font-size: 14px; padding: 12px 18px 10px }

  header .header__nav a:not(:last-child) { margin-right: 50px }

  .slider-section .slider-section__title { width: 756px; font-size: 70px }

  .services-section .services-section__section .section__image-wrapper {
    .image__front { left: 106px }
    .image__trajectory-line { width: 500px }
    .image__trajectory-point { left: 480px }
  }

  .team-section {
    height: 450px;

    .team-section__info-wrapper {

      .info__text .info__paragraph { font-size: 14px }

      .info__controls .controls__next .controls__image-wrapper img,
      .info__controls .controls__prev .controls__image-wrapper img {
        width: 50px;
      }

      .info__controls .controls__next .controls__controls-wrapper .controls__button,
      .info__controls .controls__prev .controls__controls-wrapper .controls__button {
        margin: 0;
      }

      .info__controls .controls__next .controls__controls-wrapper .controls__name,
      .info__controls .controls__prev .controls__controls-wrapper .controls__name {
        margin: 8px 0 0;
      }
    }

    .team-section__photo-wrapper {
      .photo__main { width: 300px }
      .photo__back1 { width: 230px; top: 55% }
      .photo__back2 { width: 185px; top: 55% }
    }
  }

  .contacts-section {
    margin-top: 100px;

    .contacts-section__info-wrapper {
      .info__title { font-size: 40px; line-height: 45px; }
      #info__sub-title { font-size: 14px; line-height: 20px; margin: 0 0 40px 0 }
      #info__city-links .city-links__card .card__text {
        .text__city { font-size: 16px; line-height: 20px }
        .text__address { font-size: 12px; line-height: 18px }
      }
    }

    .contacts-section__map-wrapper .map__office-contacts {
      width: 230px;
      padding: 20px 30px;

      .office-contacts__wrapper {
        height: 320px;

        .office-contacts__card {
          .card__city { font-size: 25px; line-height: 25px }
          .card__address { font-size: 13px; line-height: 18px; margin: 0 0 20px 0; }
          .card__hours, .card__phones, .card__mails {
            .title { font-size: 15px; line-height: 18px; padding: 0 0 0 5px; }
            .text { font-size: 12px; line-height: 19px }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header .header-wrapper .header__nav { display: none }
  header .header-wrapper #header__burger-icon { display: block }
}

@media only screen and (max-width: 785px) {

  .h2-styled { font-size: 20px; line-height: 30px; margin: 0 0 15px; }
  .button { font-size: 10px; padding: 10px 14px 8px }

  .slider-section {
    .slider-section__title { width: 540px; font-size: 50px }
    .slider-section__sub-title { width: 418px; font-size: 14px }
  }

  .services-section .services-section__section {
    height: 400px;

    .section__image-wrapper {
      .image__front { left: 80px }
      .image__trajectory-line { width: 400px; top: 250px; left: 145px }
      .image__trajectory-point { left: 333px; bottom: -9px; width: 120px }
    }

    &.first, &.second, &.third { margin-top: 50px }

    .section__text-wrapper {
      .text__paragraph, .text__list > li { font-size: 13px; line-height: 20px }
    }
  }

  .team-section {
    height: 350px;

    .team-section__info-wrapper {

      .info__text .info__sub-header { font-size: 12px; line-height: 12px; margin: 0 0 20px }
      .info__text .info__paragraph { font-size: 12px; line-height: 20px; margin: 0 0 20px }
      .info__text .info__social-links > li { font-size: 12px; line-height: 12px; margin: 0 5px 0 0 }

      .info__controls .controls__next .controls__controls-wrapper .controls__button,
      .info__controls .controls__prev .controls__controls-wrapper .controls__button {
        font-size: 12px;
        line-height: 12px;
      }

      .info__controls .controls__next .controls__controls-wrapper .controls__name,
      .info__controls .controls__prev .controls__controls-wrapper .controls__name {
        font-size: 16px;
        line-height: 22px;
      }
    }

    .team-section__photo-wrapper {
      .photo__main { width: 250px }
      .photo__back1 { width: 190px; top: 53% }
      .photo__back2 { width: 155px; top: 53% }
    }
  }

  .contacts-section {
    .contacts-section__info-wrapper {
      .info__title { font-size: 30px; line-height: 35px; }
      #info__sub-title { font-size: 12px; line-height: 18px; margin: 0 0 25px 0 }
      #info__city-links .city-links__card {
        margin: 0 0 10px 0;

        img { width: 15px }

        .card__text {
          margin: 0 0 0 10px;

          .text__city { font-size: 10px; line-height: 10px }
          .text__address { font-size: 10px; line-height: 12px }
        }
      }

      .map__office-contacts-tablet { display: block }
    }

    .contacts-section__map-wrapper {

      #map { height: 100%; width: 100% }

      .map__office-contacts { display: none }
    }
  }

  footer {
    margin: 50px 0 0;
    padding: 30px 0 20px;

    .footer__nav {
      margin: 15px 0;

      a {
        font-size: 12px;

        &:not(:last-child) { margin: 0 30px 0 0 }
      }
    }

    .footer__copyright { font-size: 11px; line-height: 11px }
  }
}
