$white: #ffffff;
$green: #00A031;
$grey: #6C6C6C;
$black: #1C201E;
$white-back: #f7f7f7;
$green-back: #3da850;
$box-shadow: rgba(0, 0, 0, 0.1);

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1175px;
  margin: 0 auto;
}

.h2-styled {
  font-weight: 800;
  font-size: 38px;
  line-height: 51px;
  letter-spacing: 0.4px;
  margin: 0 0 28px;
  color: $green;
}

.button {
  background-color: $green;
  border-radius: 27px;
  cursor: pointer;
  font-size: 18px;
  padding: 16px 24px 14px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
  border: none;
  outline: none;
  color: $white;

  &:hover {
    background-color: $green-back;
  }
  &:active {
    position: relative;
    top: 2px;
  }
}

.logo {
  cursor: pointer;
}

header {
  position: fixed;
  background-color: #67676767;
  z-index: 3;
  width: 100%;
  padding: 16px 0;

  .header-wrapper {
    position: relative;

    .logo { float: left }

    .header__nav {
      float: right;
      padding: 9px 0;

      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $white;
        text-decoration: none;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 80px;
        }

        &:after, &.active:after {
          content: '';
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          background: $white;
          transition: 0.3s;
        }
        &:hover:after, &.active:after {
          width: 100%;
        }
      }
    }

    #header__burger-icon {
      display: none;
      width: 40px;
      float: right;
      cursor: pointer;
    }

    #header__nav-burger {
      position: absolute;
      right: -7%;
      bottom: -240px;
      display: none;

      &.active {
        display: block;
      }

      a {
        display: block;
        background-color: #67676767;
        padding: 14px 16px;
        color: #fff;
        width: 100px;
        cursor: pointer;
        text-align: center;

        &:hover {
          background-color: #676767ba;
        }
      }
    }
  }
}

.slider-section {
  position: relative;

  .slick-dotted.slick-slider { margin-bottom: 0}

  .slider-section__video {
    height: 100vh;

    .slick-prev { left: 5px; z-index: 1 }
    .slick-next { right: 5px; z-index: 1 }

    .slick-list {
      height: 100%;

      .slick-track { height: 100% }
    }

    .slick-dots {
      bottom: 25px;

      button:before {
        font-size: 10px;
        color: $white;
        opacity: 1;
      }

      .slick-active {

        button:before {
          color: $green;
          border: 1px solid $green;
          border-radius: 50%;
          line-height: 16px;
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .slider-section__title {
    width: 975px;
    position: absolute;
    top: calc(50% - 90px);
    left: 50%;
    color: $white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 90px;
    margin: 0;
  }

  .slider-section__sub-title {
    width: 535px;
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    color: $white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.2px;
    margin: 0;
  }

  .slider-section__button {
    position: absolute;
    top: calc(50% + 90px);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    &:active {
      top: calc(50% + 92px);
    }
  }
}

.services-section {

  .services-section__section {
    height: 522px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.first { margin-top: 90px }
    &.second { margin-top: 170px }
    &.third { margin-top: 205px }

    .section__image-wrapper {
      position: relative;
      width: 47%;
      height: 100%;

      .image__back {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }
      .image__front {
        position: absolute;
        top: 20px;
        left: 130px;
        z-index: 2;
        width: 47%;
        max-width: 100%;

        &.rotated {
          transform: rotate(18deg);
        }
      }
      .image__trajectory-line {
        position: absolute;
        top: 350px;
        left: 235px;
        z-index: 1;
      }
      .image__trajectory-point {
        position: absolute;
        bottom: -50px;
        left: 522px;
        z-index: 1;
      }
    }

    .section__text-wrapper {
      width: 47%;
      z-index: 1;

      .text__paragraph, .text__list {
        margin: 0 0 20px;
      }

      .text__paragraph, .text__list > li {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $grey;
        width: 90%;
      }

      .text__list > li {
        list-style-image: url('../img/List-style-item.svg');

        &:not(:last-child) {
          margin: 0 0 6px;
        }
      }

      .text__button {
        background-color: $white;
        border-radius: 27px;
        border: 1px solid $green;
        text-shadow: none;
        color: $green;

        &:hover { background-color: $white-back }
      }
    }
  }
}

.team-section {
  margin-top: 244px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 535px;

  .team-section__info-wrapper {
    width: 45%;
    color: $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .info__text {

      .info__header { margin: 0 0 10px }

      .info__sub-header {
        font-family: 'Gilroy', sans-serif;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 0 40px;
      }

      .info__paragraph {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        margin: 0 0 40px;
      }

      .info__social-links {
        margin: 0;
        padding: 0;

        li {
          display: inline;
          font-family: 'Gilroy', sans-serif;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 3px;
          text-transform: uppercase;
          margin: 0 15px 0 0;
          cursor: pointer;

          &:hover {
            color: $black;

            &::before { color: $grey }
          }

          &::before {
            content: '●';
            padding-right: 5px;
          }
        }
      }
    }

    .info__controls {
      position: absolute;
      bottom: 0;
      width: 60%;
      display: flex;
      justify-content: space-between;
      background-color: $white-back;

      .controls__next, .controls__prev {
        display: flex;
        align-items: center;

        .controls__image-wrapper {
          margin: 0 20px 0 0;

          img { max-width: 100% }
        }

        .controls__controls-wrapper {
          color: $green;

          .controls__button {
            font-family: 'Gilroy', sans-serif;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          .controls__name {
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.2px;
          }
        }
      }

      .controls__prev {
        direction: rtl;

        .controls__image-wrapper { margin: 0 0 0 20px }

        .controls__controls-wrapper {
          opacity: 0.6;

          .controls__name { opacity: 0 }
        }
      }
    }
  }

  .team-section__photo-wrapper {
    position: relative;
    width: 40%;
    height: 100%;

    .photo__main {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .photo__back1 {
      position: absolute;
      left: 28%;
      top: 50%;
      transform: translate(0, -50%);
    }
    .photo__back2 {
      position: absolute;
      left: 46%;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.contacts-section {
  margin-top: 200px;
  display: flex;

  .contacts-section__info-wrapper {
    width: 25%;
    margin: 0 50px 0 0;

    .info__title {
      font-weight: bold;
      font-size: 52px;
      line-height: 60px;
      color: $green;
      margin: 0 0 12px 0;
    }

    #info__sub-title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $grey;
      margin: 0 0 60px 0;
    }

    #info__city-links {
      margin: 0;
      padding: 0;
      list-style: none;

      .city-links__card {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
        display: flex;
        align-items: flex-start;
        margin: 0 0 15px 0;
        cursor: pointer;

        &:hover, &.current {
          box-shadow: 0 5px 15px 0 $box-shadow, 0 5px 15px 0 $box-shadow;
        }
        &:active {
          position: relative;
          top: 2px;
        }

        .card__text {
          margin: 0 0 0 20px;

          .text__city {
            margin: 0 0 5px 0;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.2px;
            color: $green;
          }

          .text__address {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $grey;
          }
        }
      }
    }

    .map__office-contacts-tablet {
      position: relative;
      height: 175px;
      margin: 0 0 0 38px;
      border-top: 1px solid black;
      display: none;

      .office-contacts-tablet__card {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        margin: 10px 0 0;

        &.current {
          opacity: 1;
          -webkit-transition: opacity 1s ease;
          transition: opacity 1s ease;
        }

        .card__city {
          font-weight: 800;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0.4px;
          color: $black;
          margin: 0 0 10px 0;
        }

        .card__address {
          font-size: 11px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: $grey;
          margin: 0 0 20px 0;
        }

        .card__hours,
        .card__phones,
        .card__mails {

          .title {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.2px;
            color: $black;
            display: inline;
            padding: 0;
          }

          .text {
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.2px;
            color: $grey;
            margin: 0;

            &:first-of-type { margin-top: 4px }

            .bold-text { color: $black }
          }

          &:not(:last-child) { margin: 0 0 5px 0 }
        }
      }
    }
  }

  .contacts-section__map-wrapper {
    width: calc(75% - 30px);
    position: relative;

    #map {
      height: 720px;
      width: 90%;
    }

    .map__office-contacts {
      box-sizing: border-box;
      width: 318px;
      padding: 30px 40px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      background-color: $white;
      box-shadow: 0 5px 15px 0 $box-shadow, 0 5px 15px 0 $box-shadow;

      .office-contacts__wrapper {
        position: relative;
        height: 420px;

        .office-contacts__card {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;

          &.current {
            opacity: 1;
            -webkit-transition: opacity 1s ease;
            transition: opacity 1s ease;
          }

          .card__city {
            font-weight: 800;
            font-size: 38px;
            line-height: 51px;
            letter-spacing: 0.4px;
            color: $black;
            margin: 0 0 10px 0;
          }

          .card__address {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $grey;
            margin: 0 0 30px 0;
          }

          .card__hours,
          .card__phones,
          .card__mails {

            .title {
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              letter-spacing: 0.2px;
              color: $black;
              display: inline;
              padding: 0 0 0 10px;
            }

            .text {
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.2px;
              color: $grey;
              margin: 0;

              &:first-of-type { margin-top: 7px }

              .bold-text { color: $black }
            }

            &:not(:last-child) { margin: 0 0 10px 0 }
          }
        }
      }
    }
  }
}

footer {
  background: #222222;
  color: #777777;
  text-align: center;
  margin: 100px 0 0;
  padding: 70px 0 40px;

  .footer__nav {
    margin: 30px 0;

    a {
      font-family: 'Gilroy', sans-serif;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 3px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: #a9a9a9;
      }

      &:not(:last-child) {
        margin: 0 40px 0 0;
      }
    }
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
